<tr class="<%= cycle("bg-white", "bg-gray-50") -%>">
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= condition.event&.name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= t condition.operation %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= t condition.expression %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= condition.value %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= render 'conditions/options', condition: condition %>
  </td>
</tr>
