<div class="mt-4 space-y-4">
  <%= label_tag :event_id, nil, class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= select_tag :event_id,  options_from_collection_for_select(@events, :uuid, :name, @event_uuid), prompt: ' -- Any event --', class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
</div>
<div class="mt-4 space-y-4">
  <%= label_tag :operation, nil, class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= select_tag :operation,  options_for_select(operations_select, @condition.operation), class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
</div>
<div class="mt-4 space-y-4">
  <%= label_tag :expression, nil, class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= select_tag :expression, options_for_select(expressions_select, @condition.expression), class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
</div>
<div class="mt-4 space-y-4">
  <%= label_tag :value, nil, class: "block text-sm font-medium text-gray-700" %>
  <div class="mt-1">
    <%= number_field_tag :value, @condition.value, class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" %>
  </div>
</div>
<div class="mt-4 flex justify-end pt-2">
  <%= link_to 'Cancel', rule_path(id: @rule.uuid), class: "inline-flex items-center mr-3 px-3 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500" %>
  <button
    type="submit"
    class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
    Save condition
  </button>
</div>
