<tr class="<%= cycle("bg-white", "bg-gray-50") -%>">
  <%= render partial: 'activities/receiver', locals: { activity: activity } unless local_assigns[:hide_receiver] %>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= activity.event.name %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= activity.value %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= format_datetime(activity.created_at) %>
  </td>
</tr>
